<!doctype html>
<html lang="en" ng-app="beerapp">
    <head>
        {% block head %}
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %} - Cata.Beer</title>
        <meta name="description" content="Catalog of different beers">
        <!-- <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32" /> -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        {% endblock %}
    </head>

    <body>
        {% block header %}
            <nav class="nav-extended">
                <div class="nav-wrapper">
                    <a href="#" class="brand-logo">Cata.Beer</a>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li><a href="/">Beer</a></li>
                        <li><a href="#">Ingredients</a></li>
                        <li><a href="#">Users</a></li>
                        <li><a href="login">{{ username }}</a></li>
                    </ul>
                </div>
                <div class="nav-content">
                    <ul class="tabs tabs-transparent hide-on-med-and-up show-on-medium">
                        <li class="tab"><a href="/">Beer</a></li>
                        <li class="tab"><a href="#">Ingredients</a></li>
                        <li class="tab"><a href="#">Users</a></li>
                        <li class="tab"><a href="login">{{ username }}</a></li>
                    </ul>
                </div>
            </nav>
        {% endblock %}
        <div id="content" class="container col-sm-12">
            {% block content %}{% endblock %}
        </div>
    </body>
    {% block js %}
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    {% endblock %}
</html>
