{% extends "base_template.html" %}
{% block title %}Home{% endblock %}
{% block head %} {{ super() }} {% endblock %}
{% block content %}
    <div class="card-panel z-depth-2">
        <form action="{{ url_for('home.breweries') }}" method="post">
            <div class="input-field row">
                <div class="col l10 s12">
                    <input name="name" type="text" class="validate" autocomplete="off" id="search" placeholder="Brewery Name">
                </div>
                <div class="col l2 s12">
                    <button class="waves-effect waves-light btn col s12" type="submit"><i class="material-icons left">search</i>Search</button>
                </div>
            </div>
        </form>
    </div>
    <div class="row">
        {% if error != "" %}
            <div class="card-panel col s12">
                <h1 class="center-align">{{ error }}</h1>
            </div>
        {% else %}
            {% if breweries|length > 1 %}
                {% for brewery in breweries %}
                    <div class="col s12 m6 l4">
                        <div class="card blue-grey darken-3 sticky-action">
                            <div class="card-image">
                                {% if brewery['images'] %}
                                    <img class="responsive-img" src="{{ brewery.images.large }}">
                                {% else %}
                                    <img class="responsive-img" src="{{ url_for('home.static', filename="brewery.png") }}">
                                {% endif %}
                            </div>

                                <div class="card-content white-text">
                                    <span class="card-title activator">{{ brewery.name }}<i class="material-icons right">arrow_upward</i></span>
                                </div>
                                <div class="card-reveal" style="overflow-y: auto">
                                    <span class="card-title">{{ brewery.name }} - Est. {{ brewery.established }}<i class="material-icons right">close</i></span>
                                    {% if brewery.description %}
                                        <p>{{ brewery.description }}</p>
                                    {% else %}
                                        <p>No Description Available</p>
                                    {% endif %}
                                </div>
                            <div class="card-action">
                                <a href="{{ url_for('home.index', id=brewery.id) }}-">Beers</a>
                                {% if brewery.website %}
                                    <a target="_blank" href="{{ brewery.website }}">Brewery Website</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="col s12 l6 offset-l3">
                    <div class="card blue-grey darken-3 sticky-action">
                        <div class="card-image">
                            {% if breweries[0]['images'] %}
                                <img class="responsive-img" src="{{ breweries[0].images.large }}">
                            {% else %}
                                <img class="responsive-img" src="{{ url_for('home.static', filename="brewery.png") }}">
                            {% endif %}
                        </div>
                            <div class="card-content white-text">
                                <span class="card-title activator">{{ breweries[0].name }}<i class="material-icons right">arrow_upward</i></span>
                            </div>
                            <div class="card-reveal" style="overflow-y: auto">
                                {% if breweries[0].established %}
                                    <span class="card-title">{{ breweries[0].name }} - Est. {{ breweries[0].established }}<i class="material-icons right">close</i></span>
                                {% else %}
                                    <span class="card-title">{{ breweries[0].name }}<i class="material-icons right">close</i></span>
                                {% endif %}
                                {% if breweries[0].description %}
                                    <p>{{ breweries[0].description }}</p>
                                {% else %}
                                    <p>No Description Available</p>
                                {% endif %}
                            </div>
                        <div class="card-action">
                            <a href="{{ url_for('home.index', id=breweries[0].id) }}-">Beers</a>
                            {% if breweries[0].website %}
                                <a target="_blank" href="{{ breweries[0].website }}">Brewery Website</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}
{% block js %} {{ super() }} {% endblock %}
